.box {
    display: grid;
    grid-template-columns: 6fr 2fr 6fr;
    grid-template-rows: 0fr 34fr 10fr;
}

.titulo {
    margin: 60px 0px 10px 100px;
  }
  
  .titulo h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    color: #FF7A00;
    margin-bottom: 29px;
  }

.fim-cadastro {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#checkbox {
    cursor: pointer;
    opacity: 0;
  }
  
  .checkbox-abrir {
    margin-left: 555px;    
    margin-top: 30px;
    cursor: pointer;
  }

.inputs-box {
    margin: 0px 0px 0px 100px;
    display: flex;
    width: 75%;
    height: 40px;
    border-bottom: 2px solid #FF7A00;
    flex-direction: column;
}

.inputs-box label {
    margin-bottom: 22px;
    font-size: 18px;
}

#menu {
    display: none;
  }
  
  .finalizar-cadastro {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 99;
    width: 43.2%;
    opacity: 1;
    transition: opacity 800ms ease 0s;
    border: 1px solid rgb(222, 224, 228);
    max-height: 20.8125rem;
    overflow-y: auto;
    margin-top: 0px;
  }

  /* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
  .finalizar-cadastro::-webkit-scrollbar {
    width:10px;
    height: 10px;

  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  .finalizar-cadastro::-webkit-scrollbar-track {
    background:#333;
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  .finalizar-cadastro::-webkit-scrollbar-thumb {
    background: #FF7A00;
    border-radius: 3px;
  }
  
  .texto-fim {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 3rem;
    font-size: 15px;
    line-height: 1rem;
    font-weight: 400;
    color: rgb(66, 70, 77);
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .texto-fim:hover {
    background: #f1f1f1;
  }



.buttun {
    grid-column: 2/3;
    grid-row: 3/3;
    display: flex;
    margin: 40px 0 70px 0;
    width: 324px;
    height: 62px;
    border-radius: 10px;
    color: #878787;
    border: none;
  }
  
  .buttun a {
    display: flex;
    width: 325px;
    height: 60px;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

.imagem-fim-cadastro {
    grid-column: 3/3;
    grid-row: 2/3;
    margin-top: 100px;
    margin-left: 100px;
}

.imagem-fim-cadastro img {
    height: 500px ;
    width: 500px;
}

.checkmarks {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 10px 100px;
    font-size: 17px;
}

.emails-fim-cadastro {
    display: flex;
    justify-content: flex-start;
    width: 82%;
}

.emails-fim-cadastro label {
    cursor: pointer;
}

.emails-fim-cadastro label img {
    height: 15px;
    width: 15px;
}

.politicas-fim-cadastro {
  display: flex;
  justify-content: flex-start;
  width: 82%;
  margin-top: 15px;
}

.politicas-fim-cadastro label {
  cursor: pointer;
}

.politicas-fim-cadastro label img {
  height: 15px;
  width: 15px;
}

#idemails {
    margin-right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0;
}

#idpoliticas {
  margin-right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.switch-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #FF7A00;
    margin-left: -41px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.politicas-da-empresa a {
  color: #FF7A00;
  text-decoration: underline;
}