* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.anuncio-black-friday {
    height: 500px;
    background: radial-gradient(83.42% 1297.39% at 50.02% 35.45%, #FF7A00 0%, rgba(255, 122, 0, 0) 100%);
}

.natal-ready {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 348px;
    background: #FF7A00;
    border-radius: 9px 9px 0px 0px;
    margin-left: 100px;
    transform: translateY(-91px);
}

.swiper {
    width: 600px;
    height: 300px;
  }