
#produtos {
    width: 423px;
    height: 524px;
    background-image: url(./Images/degrade.svg);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 40.1%);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.116);
}

/**/

.botao-comprar {
    width: 70px;
    height: 70px;
    background: #FF3232;
    border-radius: 0px 5px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: 0px;
}

.botao-comprar > img {
    transform: scaleX(-1);
}

#comprar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/**/

#serrote-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preco-produto {
    margin-left: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #DB4437;
}

.nome-produto {
    margin-left: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    }

/**/

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #9B2324;
    border-radius: 0px 17px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

#idpromo {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}